<h3>Book History</h3>
<br/>
<br/>


<% if @bdetail && !@bdetail.empty? %>
  <table class="table table-condensed">
    <tr>
      <th>Member Name</th>
      <th>Member Plan Id</th>
      <th>Title :</th>
    </tr>
    <tr>
      <td>
        <%= EtlMemberProfileInfo.find_by_id(@bdetail.first.member_profile_id).name %>
      </td>
      <td>
        <%= @bdetail.first.member_plan_id%>
      </td>
           <td>
        <% @bdetail.each do |mp| %>
            
            <%= EtlTitle.find_by_id(mp.title_id).title %>
              
               <br>
            
        <% end %>
        </td>
      <br>
     </tr>
  </table>
  <div class="clear"></div>
  <!-- %center= will_paginate(@rep, :params => {:controller => 'accounts', :action => "rep", :format => :js}, :param_name => "rewards_page")
  -->
<% else %>
  No returns till date
<% end %>
</div>